//First screen styles
@import "bourbon"
@import "sass/vars"
@import "sass/base"


// скрытие svg (подставляется js)
svg
	opacity: 0
body > svg
	display: none


// верхняя линия и лого
.front-page 
	.topline
		background: rgba(0, 0, 0, 0.43)
		color: $c-white 
		position: absolute
		left: 0
		right: 0
		top: 0
		z-index: 3
	.topline_interior
		background: none
.common-page .topline
	background: $bg-accent
	color: $c-white 
.logo__svg 
	width: 170px
	height: 43px
.logo
	line-height: 1
	display: inline-block
.topline__logo
	margin-top: 14px
.logo__text
	font-size: 17px
	font-weight: 500
	margin-bottom: 0
	padding: 6px 0


// меню в шапке
.list
	list-style-type: none
	margin: 0
	padding: 0
.list__item
	display: inline-block
.text-center
	text-align: center
.flex
	display: flex
.flex_center
	justify-content: center
.menu-link
	color: $c-white
	text-decoration: none
	display: inline-block
	font-size: 15px
	font-weight: bold
	font-family: $f-head
	text-transform: uppercase
	line-height: 1.4
	margin: 0 6px
.menu-link:hover,
.menu-link:focus
	color: $c-white
	border-bottom: 2px solid
	text-decoration: none
.topline__nav
	padding: 31px 0


// extra
.extra__svg
	width: 19px
	height: 19px
.img-button
	display: inline-block
.svg_06
	width: 24px
	height: 24px
.img-button_personal svg
	fill: #F1F1F2
.img-button_cabinet svg
	width: 36px
	height: 28px
.img-button_favorites svg
	width: 25px
	height: 32px
.img-button_personal svg
	margin-top: 3px
	width: 30px
	height: 21px
.img-button_close-interior 
	padding: 5px
	background: #000
	opacity: 0.2
	svg
		width: 12px
		height: 12px
.extra__item
	display: inline-block
	margin-left: 5px
	vertical-align: middle
	line-height: 0
	position: relative
.extra
	margin: 24px 0
	text-align: right
.extra-small
	margin: 13px 0
.img-button_favorites__text,
.img-button_cabinet__text
	position: absolute
	color: #fff
	font-weight: bold
	font-size: 12px
	display: inline-block
	top: 8px
	left: 2px
.img-button_favorites__text
	top: 8px
	left: 8px
.collapsed-search
	width: 0


// слайдер
.owl-dots
	position: absolute
	bottom: 26px
	text-align: center
	display: block
	width: 100%
.owl-dot
	width: 21px
	height: 21px
	display: inline-block
	border-radius: 50%
	border: 2px solid $c-white
	margin: 0 14px
.owl-dot.active
	background: $c-white
.owl-nav
	& > div
		top: 50%
		position: absolute
		width: 30px
		height: 69px
		display: inline-block
		opacity: 0.4
		cursor: pointer
		&:hover
			opacity: 0.8
		svg
			width: 30px
			height: 69px
			fill: #fff
	.disabled
		display: none
.owl-next
	transform: rotate(180deg)
	right: 15px
.owl-prev
	left: 15px
.owl-dot.active
	cursor: default !important
// загрузка изображения вместо слайдера
.owl-carousel
	display: block
	img
		width: 100%
		height: auto
		display: none
		max-width: 100%
	picture:first-of-type img
		display: block
.owl-loaded
	img
		display: block

@media only screen and (max-width : 480px)
	.page-parallax:not(.page-parallax_interior)
		display: none


.topline_interior--logo
	margin: 10px 0


// внутренние страницы

// хлебные крошки
.breadcrump
	padding-top: 17px
	padding-bottom: 17px
	display: block
	ul
		list-style-type: none
		margin: 0
		padding: 0
		li
			display: inline-block
			font-size: 14px
			font-family: $f-head
			&:after
				content: '>'
				padding-left: 4px
			&:last-child:after
				content: ''
			a
				color: $c-default
				text-decoration: underline
				&:hover
					text-decoration: none

// страница
.article__h1
	font-weight: 300
	text-align: center
	margin-top: 0
article p
	font-family: $f-head


// style-list from 09.psd
.style-list
	text-align: center
	margin-top: 20px
	margin-bottom: 50px
	p
		margin-bottom: 10px
	span
		color: $c-span
		font-weight: 500
	h2
		font-size: 24px
		font-weight: 300
		margin-bottom: 0
		margin-top: 25px
.style-list__item
	display: block
	color: $c-default
	&:hover
		text-decoration: none
		color: $c-default
	&:nth-child(2n-1).wow
		animation-delay: 0s
	&:nth-child(2n).wow
		animation-delay: 0.2s




// product page 07
.page-parallax img
	width: 100%
	height: auto
.h1_small
	font-size: 34px
	text-align: left
.product-description
	font-size: 18px
.label-product-type
	font-family: $f-head
	color: #000
	font-size: 14px
	margin-right: 10px
	vertical-align: middle
.product-type
	border-color: #000
	color: #000
	padding-right: 10px
	padding-left: 3px
	font-size: 22px
	font-family: $f-add-2
	vertical-align: middle
select
	border-radius: 0
.product-price
	display: inline-block
	vertical-align: middle
	margin-left: 30px
	text-align: center
	line-height: 1.2
	&__price
		display: inline-block
		color: $c-accent
		font-weight: 500
		font-size: 40px
	&__value
		display: inline-block
		font-weight: 500
		color: #727272
		font-size: 28px
		vertical-align: top
	&__articul
		font-family: $f-head
		font-size: 14px
.product-count
	display: inline-block
	vertical-align: middle
.product-count input[type="text"]
	width: 32px
	text-align: center
	line-height: 0
	border: 1px solid #000
	text-align: center
	padding: 0
	line-height: 30px
	vertical-align: middle
	margin-bottom: 0
	margin-left: -1px
	color: #000
.product-links
	margin-top: 20px
	font-size: 15px
	vertical-align: middle
	a
		text-decoration: underline
		&:hover
			text-decoration: none
.addToCart-button
	border-radius: 3px
	background: #E15E78
	color: #fff
	padding: 3px 0
	font-size: 18px
	font-weight: 600
	font-family: $f-head
	vertical-align: middle
	text-align: center
	width: 255px
	margin-left: 28px
	img
		display: inline-block
		width: 0
		transition: 0.3s
		vertical-align: middle
		margin-top: -3px
.outer-addToCart
	margin-top: 25px
.product-table
	width: 100%
	text-align: center
	color: #fff
	font-size: 18px
	font-family: $f-head
	border-spacing: 0 1px
	border-collapse: separate
	line-height: 1.2
	margin-top: 65px
	th
		background: #808394
		margin-bottom: 2px
		font-weight: normal
		padding: 3px 0
		width: 33%
	tr:nth-child(1)
		margin-bottom: 5px
	tr:nth-child(odd)
		background: #5E5E5E
	tr:nth-child(even)
		background: #939393
	td
		padding: 5px 0
		width: 33%


// page service
.page-parallax_relative
	position: relative
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.56)
		display: block
		z-index: 2
		top: 0
.page-parallax--container
	position: absolute
	left: 0
	right: 0
	z-index: 10
	top: 50%
	margin-top: -120px
.page-parallax--head
	text-align: center
	font-size: 100px
	font-weight: 300
	text-transform: uppercase
	color: #fff
.page-parallax--text
	font-size: 24px
	font-weight: 300
	color: #fff
	text-align: center
	max-width: 1170px
	margin: 50px auto 0
.page-parallax--breadcrump
	position: absolute
	z-index: 4
	top: 80px
	color: #fff
	ul li a
		color: #fff
.svg--camera-white
	width: 32px
	height: 20px
	margin-left: 25px
.dark-logo
	background-image: url(../img/svg-pages/logo-dark.svg)
	width: 150px
	height: 38px