@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1689px)
	#to-top
		margin-right: 0
		right: 15px
		top: 73px

@media only screen and (max-width : 1360px)
	.parallax-container
		padding-left: 15px
		padding-right: 15px
	.hover-lines
		max-width: 100%
		width: 100%
		height: auto
		display: block
	.hover-lines_content
		font-size: 18px
		color: #000
	.hover-lines img
		max-width: 100%
		height: auto
		position: static
	.hover-lines_content
		font-size: 20px
		font-family: $f-add-2
		padding: 20px 5px
	.panel_front-news, .img-button_search
		display: none
	#map
		height: 506px
	.accent-header_small
		font-size: 50px
	.footer-button
		text-align: center
		margin: 0
		max-width: 208px
	.copyright
		margin-top: 45px
	.social-links
		margin-top: 15px
	.hover-lines_content
		position: static
		transform: 	scale(1)
	.s-parallax
		padding: 0
	.panel_left, .panel_right
		margin: 100px 0
		background: none
		z-index: 10
		position: relative
	.s-parallax_right
		background-image: url(../img/uslugi_900.jpg)
		background-size: cover
		background-position: center center
	.s-parallax_left 
		background-image: url(../img/sotrudn_900.jpg)
		background-size: cover
		background-position: center center
	.topline__logo
		width: auto
		display: inline-block
		vertical-align: middle
		float: right
		margin: 2.5px 0
		a
			float: right
			margin-right: 60px
	.logo__text
		font-size: 17px
		margin-right: 90px
		margin-top: 7px
		float: right
		display: inline-block
	.logo-menu
		display: inline-block
		float: none
		vertical-align: middle
		margin-top: 14px
	.extra
		margin: 9px 0
	.panel-diller
		margin-top: 0
	.parallax-img
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.4)
		left: 0
		top: 0
		z-index: 0
	.js-parallax:not(.header-always-parallax)
		transform: none !important
	.front-h1
		font-size: 48px
	.addToCart-button
		display: block
		margin-left: 0
		margin-top: 25px
	.product-price
		margin-left: 9px
	.effect-list__item
		&:nth-child(4n-3).wow
			clear: none
		&:nth-child(4n).wow
			clear: left
	.animated
		transition-property: none !important
		transform: none !important
		animation: none !important
	.icon-favourite_mobile
		display: inline-block
		margin-right: -3px
	.effect-list__head
		max-width: calc(100% - 145px)
		margin-top: 4px
	.hover-panel
		display: none
	.effect-price__price
		vertical-align: middle
		margin-top: -16px
	.effect-price__value
		line-height: 1.1
	.smeta-icon__mobile
		display: inline-block
	.smeta-panel,
	.double-slider
		display: none
	.mobile-message
		display: block
		color: #6280BF
		font-size: 10px
		max-width: 400px
	.smeta-price__descr
		font-size: 14px
	.smeta-icons
		border-bottom: 1px solid $c-default
		padding-bottom: 14px
		position: relative
		padding-top: 59px
		margin: 10px 0
	.smeta__prices
		margin-top: 0
	.smeta-icon:nth-child(1)
		display: inline-block
		// width: 100%
		// margin-bottom: 15px
		// position: absolute
		// bottom: 0
	.smeta-icon:nth-child(2)
		position: absolute
		top: 0
		left: 0
	h6
		font-size: 16px
	.manager_subhead
		font-size: 12px
		margin: 5px 0
	.manager-text
		margin-bottom: 0
		line-height: 1.2
	.excel
		float: none
	.cabinet--button
		font-size: 20px
	.order-text_price
		margin-right: 50px
	.btn--send
		margin-left: 50px
	.order_panel--header
		margin-bottom: 30px
	.order_panel--footer
		display: none
	.s-cart
		margin-bottom: 50px
	.cart--header
		font-size: 0
		padding: 15px 0
	.cart--articul
		width: 12%
		vertical-align: top
		margin-bottom: 0
	.cart--other
		width: 75%
		vertical-align: top
		> *
			vertical-align: top
	.cart--name
		line-height: 1
		vertical-align: top
		width: 35%
	.cart--decsr
		max-width: 327px
		line-height: 1.4
		margin-top: 0
		display: inline-block
	.cart--row
		position: relative
		padding: 0
	.cart--weight
		position: absolute
		left: 0
		top: 28px
		text-align: left
	.cart--count
		width: 85px
		margin-top: -6px
	.cart--compare
		width: 30px
	.cart--price
		width: 122px
	.cart--compare
		display: none !important
	.cart--input
		padding: 4px 0
	.cart--img
		width: 81px
		margin-right: 20px
	.cart--remove
		margin-top: -2px
	.cart--summ
		width: 20%
	.cart--footer
		padding-right: 60px
	.tab-slider.owl-carousel .owl-item img
		width: auto
		margin: 0 auto
	.smeta__head
		font-size: 20px
	.my-col-4-5
		float: right
		left: 0
		width: calc(100% - 577px)
		padding-left: 0
	.my-col-7-5
		width: 572px
		right: 0
		padding-right: 15px
	.popup--table
		width: calc(100% - 296px)
		border-spacing: 5px 5px
		td:nth-child(6),
		th:nth-child(6)
			text-align: center
		td:nth-child(1),
		th:nth-child(1)
			min-width: 15px
		td:nth-child(2),
		th:nth-child(2)
			width: 12%
		td:nth-child(3),
		th:nth-child(3)
			min-width: 140px
		td:nth-child(4),
		th:nth-child(4)
			width: 10%
		td:nth-child(5),
		th:nth-child(5)
			min-width: 70px
		td:nth-child(6),
		th:nth-child(6)
			width: 50px
		td:nth-child(7),
		th:nth-child(7)
			min-width: 70px
	.popup--add_to_cart
		margin-right: 0
	.page-parallax--breadcrump
		display: none
	.page-parallax--head
		font-size: 34px
		font-weight: 500
	.page-parallax--text
		font-size: 22px
		max-width: 385px
		margin-top: 30px
	.double--head
		font-size: 22px
	.double--text
		font-size: 16px
	.double--item 
		&-right
			.double--desctiption
				margin: auto auto auto 20px
	.double--desctiption
		margin: auto 20px auto auto
		max-width: 450px
	.mega_plus
		width: 34px
		height: 34px
		background-size: 749px
		background-repeat: no-repeat
		margin-bottom: 10px
		&.clicked
			background-position: -715px 0
	.double--text
		margin-top: 0
	.filter_by_name
		position: static
		margin: 10px 10px 0
	.unreal_select-simple
		margin: 10px 0
	.filter--tabs-simple
		display: block
		.tabs
			display: block
			width: 100%
	.filter--tabs 
		.tab_compact
			margin-top: 10px
			margin-bottom: 10px
			&.active
				margin-top: 10px
				margin-bottom: 10px
	.page-parallax--head-small
		font-size: 60px
	.page-parallax--text-small
		font-size: 22px
		max-width: 600px
	.logo-menu--visible-always
		vertical-align: top
	.svg--camera-white
		margin-top: 14px
	#map_big
		height: 380px
		margin-left: -15px
		margin-right: 115px
	#map_full
		height: 590px
	.map_panels
		left: 30px
		top: 30px
	.panel-diller.panel-diller_include
		margin-top: 0
	.visualiser--pro
		display: none
	.visualiser--one_function
		margin-right: 20px
		width: 75px
	.visualiser--slider
		width: calc(100% - 502px)
	.visualiser--menu_button
		padding: 0
		margin-right: 40px
		margin-left: -10px
		margin-top: 20px
	.visualizer--container
		padding: 0
	.visualizer
		padding: 0
	.visualiser--app
		margin-top: 0
	.visualizer--top
		padding: 10px 0
	.visualiser--head
		top: 13px
		font-size: 20px
	.article-full_map
		padding-right: 130px
	.map_panels
		left: 30px
	.gallery--item
		width: 33.3333%
	.gallery--item-high
		clear: left
	.gallery--item-long
		width: 66.6666%
	.gallery--group
		width: 66.6666%
		.gallery--item-long
			width: 100%
		// .gallery--item
	.gallery-md
		display: block
	.gallery-large
		display: none
	.visualiser_smeta--main
		// width: 690px
	.visualiser_smeta--sidebar
		// width: calc(100% - 700px)
		// height: 315px
	.place_panel--info,
	.place_panel--buttons
		max-width: none
		float: none
	.place_panel--buttons
		.btn--send
			display: inline-block
			width: 250px
	.place_panel--info
		margin-right: 40px
		margin-bottom: 20px
	.visualizer--container
		padding-bottom: 66px
		position: relative
		// max-width: none
	.visualizer--top
		position: absolute
		bottom: 0
		width: 100%
		background: #1C1C1C
		padding-left: 15px
		padding-right: 15px
	.owl-visualiser--plashka
		display: none !important
	.article__h1
		font-size: 36px
		margin: 10px 0
	.where_buy--title
		padding-right: 115px
	.stars.col-md-3
		padding: 0
	.smeta-icon
		margin-right: 9px
		vertical-align: middle
		float: none
	.place_row
		margin-right: 115px
	.mega_plus
		right: 0
	.place_panel--info
		margin-right: 70px
	.owl-header-front--text
		font-size: 44px
		max-width: 400px
	.owl-header-front--inner
		margin-top: 70px
	.front-h1
		font-size: 42px
	.front-p
		font-size: 20px
	.product-tabs .tab
		font-size: 12px


@media only screen and (max-width : 1200px)
	.owl-header-front--text
		font-size: 36px
		max-width: 350px



@media only screen and (max-width : 1010px)
	.smeta-icon__text
		font-size: 11px
	.smeta-price__descr
		max-width: 150px
		display: inline-block
		line-height: 1
		vertical-align: middle
	.mobile-message
		font-size: 9px
	.my-col-4-5
		width: calc(100% - 580px)
	.my-col-7-5
		width: 578px
	.smeta-icon:last-of-type
		margin-right: 0
	.my-col-4-5
		width: calc(100% - 540px)
	.my-col-7-5
		width: 535px
	.popup--table
		font-size: 12px
	.page-parallax--text
		margin-top: 10px 
	.double--text
		font-size: 14px
	.double--desctiption,
	.double--item-right .double--desctiption
		margin: auto auto
	.mega_plus
		margin-bottom: 0
	.filter--tabs .tab_compact
		font-size: 15px
	.top-camera
		display: inline-block
		vertical-align: top
		// margin-top: 13px
	.smeta-icons
		padding-top: 47px



/* Medium Devices, Desktops */
@media only screen and (max-width : 900px)
	.parallax-service
		min-height: 100%
		width: auto
		min-width: 100%
		max-width: 100%
	.panel__head
		font-size: 42px
	.panel__descr
		font-size: 28px
	.footer__info
		display: none
	#to-top
		top: 220px
	.social-links a
		margin-left: 7px
		&:first-of-type
			margin: 0
	.topline__logo a
		margin-right: 0
	.logo__text
		margin-right: 40px
	.accent-header
		font-size: 50px
	#map
		height: 484px
	.panel_left, .panel_right
		margin: 50px 0
	.owl-nav>div
		top: 45%
	.front-h1
		font-size: 38px
	.front-p
		font-size: 20px
	h2
		font-size: 26px
	.addToCart-button
		display: inline-block
		margin-left: 25px
		margin-top: 0
	.product-table
		display: none
	.smeta-icons i
		display: block
		margin-bottom: 5px
	.smeta-icon:nth-child(1)
		display: inline-block
		width: auto
		margin-bottom: 0
		i
			height: 38px
			background-position: bottom left
	.smeta-icon
		vertical-align: bottom
	.smeta__prices
		float: right
		// width: 50%
		// padding-left: 15px
		max-width: 50%
		&:nth-child(3n)
			padding-right: 15px
			padding-left: 0
			float: left
	.smeta__price
		display: inline-block
		vertical-align: middle
	.smeta-price__descr
		display: inline-block
		max-width: 152px
		line-height: 1.2
		vertical-align: middle
	.smeta-icons
		border: none
	.my-col-4-5
		float: none
		width: 100%
	.my-col-7-5
		width: 100%
	.manager_img
		margin-left: 0
	.cabinet--button
		font-size: 18px
	.order-text
		margin-right: 20px
	.btn--send
		margin-left: 20px
	.order-text_price
		margin-right: 0
	.cart--articul
		position: absolute
		top: 90px
		width: auto
	.cart--img
		margin-right: 10px
	.cart--name
		margin-bottom: 30px
		width: 33%
	.cart--weight
		left: 95px
	.cart--other
		width: calc(100% - 100px)
	.mobile-message
		font-size: 11px
		max-width: 100%
	.smeta-icon
		margin-right: 40px
	.smeta-icon__text
		font-size: 15px
	.my-col-4-5
		padding-left: 15px
	.smeta-icons
		display: none
	.smeta__head
		display: none
		max-width: 210px
		font-size: 30px
		color: $c-default
	.smeta-icons__sm
		display: inline-block !important
		margin-bottom: 0
		padding-bottom: 0
	.smeta__head_sm
		display: inline-block !important
		text-align: right
		float: right
		margin-top: 30px
	.breadcrump
		display: none
	.pagination--active + li
		clear: left
		margin-left: 35px
	.effect-list__item
		&:nth-child(4n).wow
			clear: none
		&:nth-child(2n-1).wow
			clear: left
	.filter--tabs:not(.filter--tabs-simple)
		display: block
		position: relative
		.tabs
			width: 470px
			display: flex
			justify-content: space-between
			position: absolute
			right: 50%
			margin-right: -170px
		.tab
			margin: 0 7px
			&.active
				margin: 0
	.filter--label
		float: left
	.unreal_select:not(.unreal_select-simple)
		float: right
		margin-right: 50px
	.tab_content
		margin-top: 30px
	.popup--add_to_cart
		display: none
	.popup--table
		width: 100%
		border-spacing: 10px 5px
	.page-parallax--text
		font-size: 18px
	.page-parallax--container
		margin-top: -90px
	.double--text
		display: none
	.double--desctiption,
	.double--item-right .double--desctiption
		max-width: 265px
	.double--head
		font-size: 24px
		&:after
			width: 70%
			margin: 0 15%
	.hidden_info
		margin-bottom: 10px
	.btn_popup_smeta--mobile
		display: inline-block
		padding: 10px 30px
		margin: 10px 0 20px
	.super_head--main
		margin: 0
	.interior
		padding-bottom: 30px
	.interior--description
		font-size: 18px
	.page-parallax--head-small
		font-size: 58px
	.page-parallax--text-small
		font-size: 22px
		max-width: 600px
	.filter--tabs-simple
		.tabs
			max-width: 550px
			margin: 0 auto
	.visualiser--one_function
		margin-right: 12px
	.icon_visualiser--text
		font-size: 12px
	.visualiser--functions
		bottom: -205px
	.scroll-bookmark
		margin-right: 0
	.visualiser--head
		padding-left: 72px
	.add_to_bookmark
		margin-left: auto
		margin-right: auto
	.add_to_bookmark--text
		display: none
	.visualiser--extra
		width: 118px
	.visualiser--button
		width: 100%
	.visualiser--slider
		width: calc(100% - 440px)
	.visualiser--button
		padding: 14px 0
		margin-bottom: 34px
		box-shadow: 0 0 5px #fff
		&:before
			display: none
		&:focus
			outline: none
	.visualiser--button-light
	.visualiser--button-dark
		background: #354C59
		&:hover
			background: #354C59
	.scroll-exit
		display: block
	.scroll--head-mobile
		display: block
		padding-right: 30px
		line-height: 1
		margin-bottom: 10px
	.page-parallax_interior img
		transform: scale(1)
	.article-full_map
		padding-right: 80px
	.map_panels
		// left: 70px
	#map_big
		margin-right: 65px
	.gallery--item
		width: 50%
	.gallery--item-high
		clear: left
	.gallery--item-long
		width: 100%
	.gallery--group
		width: 100% 
		.gallery--item-long
			width: 100% 
	.gallery-md
		display: none
	.gallery-xs
		display: block
	.visualiser_smeta--extra
		display: none
	.visualiser_smeta--tables
		width: 100%
		max-width: none
	.visualiser_smeta--img
		display: none
	.visualiser_smeta--sidebar
		width: 100%
		float: none
	.visualiser_smeta--main
		float: none
		width: 100%
	.visualiser_smeta--header
		position: absolute
		top: 0
		width: 100%
		width: calc(100% - 100px)
		left: 30px
		right: 300px
		margin-top: 10px
	.visualiser_smeta--right
		display: inline-block
		float: none
		text-align: left
		width: auto
		margin-left: 20px
	.visualiser_smeta--button_group
		right: 0
		top: 0
		width: 150px
	.visualiser_smeta--color
		float: left
		clear: left
	.visualiser_smeta
		position: relative
	.visualiser_smeta--sidebar
		height: auto
		@include clearfix
		min-height: 180px
		margin-top: 0px
	.visualiser_smeta--img_small
		margin-top: 25px
		float: left
	.visualiser_smeta--order
		position: absolute
		left: 180px
		top: 56px
		width: calc(100% - 300px)
	.visualiser_smeta--object
		position: absolute
		left: 180px
		top: 106px
		width: calc(100% - 300px)
		height: 77px
	.visualiser--button-hidden
		display: none
	.visualizer--container
		padding-bottom: 66px
		position: relative
	.visualizer--top
		position: absolute
		bottom: 0
		width: 100%
	.visualiser_smeta--main
		padding-right: 0
	.visualiser_smeta--sidebar
		position: relative
	.visualiser_smeta--button
		font-size: 12px
		margin-top: 10px
	.where_buy--title
		width: 50%
		// float: right
		position: absolute
		right: 80px
		font-size: 18px
		margin-top: -40px
		text-align: left
		padding-right: 0
	.breadcrump_11c
		display: block
	.panel_left
		padding-left: 60px
		padding-right: 0
	.panel_right
		padding-right: 60px
		padding-left: 0
	.smeta__price
		font-size: 25px
	.page-effect-06 .tabs
		display: none
	.product-tabs .tab_item.tab-stars,
	.product-tabs .tab_item.area-3d 
		display: none !important
	.page-effect-06
		border-top: 1px solid $c-default
	.smeta-icons
		padding-top: 0
	.smeta-icon
		float: left
	.smeta-icon:nth-child(2)
		position: static
	.smeta--articul
		display: none
	.smeta__head_sm
		font-size: 22px
		max-width: 300px
	.smeta--articul_sm
		display: block
		float: right
		clear: right
	.smeta__prices:nth-child(2n)
		float: left
	.tab-head
		font-size: 24px
	.tab-slider__head
		font-size: 20px
	h3
		font-size: 24px
	.place_row
		margin-right: 65px
	.front-h1
		font-size: 38px
	.front-p
		font-size: 18px
	.owl-header-front--text
		font-size: 44px
		max-width: 400px
	.popup--table
		td:nth-child(1),
		th:nth-child(1)
			min-width: 0
			// width: 20%
		td:nth-child(2),
		th:nth-child(2)
			width: 12%
		td:nth-child(3),
		th:nth-child(3)
			min-width: 0
			width: 20%
		td:nth-child(4),
		th:nth-child(4)
			width: 10%
		td:nth-child(5),
		th:nth-child(5)
			min-width: 0
			width: 20%
		td:nth-child(6),
		th:nth-child(6)
			min-width: 0
			width: 20%
		td:nth-child(7),
		th:nth-child(7)
			min-width: 0
			width: 20%


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.row_bottom,
	.social-links
		text-align: center
	.footer-button
		display: inline-block
		padding-left: 15px
		padding-right: 15px
	.s-front-contact h2
		display: none
	#to-top
		top: -230px
	.copyright
		margin: 10px 0
	.social-links
		margin: 40px 0 20px
	.xs-text-center
		text-align: center
		margin: 20px 0
	.footer__contacts
		max-width: 280px
	.s-parallax_right
		background-image: url(../img/uslugi_480.jpg)
		background-size: cover
		background-position: center center
	.s-parallax_left
		background-image: url(../img/sotrudn_480.jpg)
		background-size: cover
		background-position: center center
	.topline
		position: static
		background: #2F4259
	.panel-diller
		margin-top: 18px
	.front-p
		font-size: 20px
	#map
		margin-top: 25px
		height: 469px
	.accent-header_small
		font-size: 42px
	h1
		font-size: 38px
	.h1_small
		font-size: 28px
		// margin-top: 25px
	h2
		font-size: 24px
	.product-tabs .tab_item
		display: block !important
	.tabs
		display: none
	.tab-replace
		display: block
	.addToCart-button
		float: right
	.outer-addToCart
		@include clearfix
	.product-price
		float: right
		margin-left: 0
	.outer__label-product-type
		margin-top: 17px
	.col-product-image
		text-align: center
	.order_panel--row
		position: relative
		padding-bottom: 50px
		.btn--send
			left: 0
			bottom: 0
			margin-left: 0
			position: absolute
	.order_panel--row
		margin-bottom: 20px
	.cart--img
		display: none
	.cart--other
		width: 100%
		> *
			display: block
			width: auto
			text-align: left
	.cart--weight
		left: 0
		top: 66px
	.cart--decsr
		display: none !important
	.cart--summ
		font-size: 24px
		display: inline-block
		width: calc(100% - 90px)
		vertical-align: middle
		text-align: right
	.cart--name
		margin-bottom: 74px
	.cart--articul
		top: 34px
	.cart--count
		margin: 0
		display: inline-block
		width: 85px
		vertical-align: middle
	.cart--remove
		top: 0
		position: absolute
		right: 0
	.cart--price
		margin-bottom: 10px
	.cart--row
		padding-bottom: 20px
		border-bottom: 5px solid #8396B5
		margin-bottom: 20px
	.cart--row:last-of-type
		border-bottom: 0
	.cart--footer
		padding: 10px
	.cart--footer-summ
		float: left
		margin-right: 0
	.btn--send-outer
		text-align: center
		margin: 10px 0
	.smeta-icon
		margin-right: 25px
	.filter--tabs:not(.filter--tabs-simple)
		.tabs
			margin-right: -115px
			width: 350px
	.filter--checkbox-list
		margin-left: 0
	.input_price
		margin-left: 0
		&:nth-child(1)
			margin-left: 0
		&:last-child
			margin-right: 40px
	.multiply_range--outer
		margin-left: 0
		width: 290px
	.catalog_filter
		.tabs
			display: block
	.catalog--hidden
		padding: 0 20px
	.super_head--subhead 
		&:before,
		&:after
			width: calc(50% - 180px)
		span
			font-size: 18px
	.page-parallax--head-small
		font-size: 50px
	.page-parallax--text-small
		font-size: 18px	
	.place--text
		padding-right: 0
	.icon--clavel
		display: inline-block
		vertical-align: middle
		margin-top: 4px
		float: none
	.visualiser--head
		text-align: left
		margin-left: 10px
		padding-left: 270px
		padding-left: 0
		width: auto
		font-size: 16px
		position: static
		display: inline-block
		vertical-align: middle
		margin-top: 4px
		width: calc(100% - 261px - 205px)
	.smeta-icon
		margin-right: 10px


@media only screen and (max-width : 762px)
	.visualiser--free_area
		height: calc(100% - 205px)
	.smeta__head_sm
		max-width: 200px
		margin-top: 15px
	.smeta--articul_sm
		width: 100%


@media only screen and (max-width : 600px)
	.owl-header-front--text
		font-size: 36px
		max-width: 350px


@media only screen and (max-width : 639px)
	.visualizer--container
		padding-bottom: 60px
	.s-front-contact
		.col-xxs-12
			width: 100%
	.col-xs-full
		padding: 0
		width: 100%
	.accent-header_small
		font-size: 62px
	.s-front-contact h2
		display: block
	#map
		height: 300px
		margin-top: 0
		margin-left: 30px
		margin-right: 30px
	.effect-price__value
		display: inline-block
		padding-bottom: 18px
		font-size: 13px
		vertical-align: middle
	.effect-price__price
		font-size: 30px
	.effect-list__head
		margin-bottom: 7px
		max-width: calc(100% - 125px)
	.effect-list__description
		display: none
	.effect-list__item
		margin-bottom: 0
	.effect-item__tags
		left: 10px
	.comment
		padding: 30px 20px
		background-image: none
	.greeting
		margin: 20px 0 10px
	.filter--select:not(.unreal_select-simple)
		display: none
	.filter--tabs:not(.filter--tabs-simple)
		.tabs
			margin-right: 0
			right: 0
			width: 100%
			padding-left: 70px
	.catalog--tag
		position: static
		margin-left: 5px
		margin-top: 2px
		vertical-align: middle
	.catalog--name
		font-size: 16px
	.catalog--item
		vertical-align: top
	.catalog--item:nth-child(2n-1)
		clear: left
	.interior
		padding-bottom: 20px
	.interior--main,
	.interior--description
		width: 100%
	.interior--img
		width: 45%
		float: left
		margin-right: 4%
	.btn_brown
		display: inline-block
		width: calc(50% - 15px)
		position: absolute
		bottom: 0
	.interior_name
		margin: 0
	.interior--description
		margin-top: 20px
	.page-parallax_interior img
		display: block
	.interior--main
		position: relative
	.hover-lines__text-top
		font-size: 16px
	.hover-lines__text-bottom
		font-size: 14px
	.hover-lines__text
		left: 10px
		padding-right: 10px
	.hover-lines:hover 
		.hover-lines__text-top
			top: 10px
		.hover-lines__text-bottom
			bottom: 10px
	.gallery .hover-lines__line
		display: none
	.icon--florenta
		display: none
	.visualiser--head
		width: calc(100% - 261px - 90px)
	.smeta-icons__sm
		.smeta-icon__text
			font-size: 12px
	.smeta__head_sm
		font-size: 20px
		max-width: 150px
	.smeta-price__descr
		max-width: 108px
		font-size: 11px


@media only screen and (max-width : 610px)
	.logo__text
		display: none
	.topline__logo
		float: none
		margin-left: 10px
	.logo-menu
		margin-top: -2px
	.col-extra
		width: 50%
	.col-topline-logo
		width: 50%
	.double--head
		font-size: 18px
	.style-list h2
		font-size: 20px
	.topline_interior
		.logo-menu
			margin-top: 12px
	.visualiser--thumbnail
		display: none
	.visualiser--extra
		margin-top: 7px
	.visualiser--slider
		width: calc(100% - 241px)

@media only screen and (max-width : 550px)
	.list_tripple,
	.topline-scroll__contact .link-nohover
		display: none
	.topline__logo
		position: absolute
	footer
		padding-top: 0
	.logo-menu
		margin-top: 14px
	.footer__contacts
		max-width: 280px
		margin: 0 auto
		text-align: center
	.diller-login
		margin-left: -85px
	#to-top
		right: 50%
		margin-right: -120px
		top: -5px
	#to-top svg
		width: 60px
		height: 65px
	.xs-text-center
		margin: 40px 0
	.order-text__date
		position: absolute
		font-size: 16px
		top: 25px
	.order_panel--row
		padding-bottom: 60px
	.order_panel--header
		margin-bottom: 20px
	.filter--tabs-simple
		.tabs
			margin: 0 -10px
			width: auto
	.visualiser_smeta--button
		font-size: 10px
	.visualiser_smeta--button_group
		width: 120px
	.visualiser_smeta--order,
	.visualiser_smeta--object
		left: 170px
		width: calc(100% - 250px)


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.image-list__item
		width: 50%
	.panel__descr
		font-size: 18px
	.panel_left, .panel_right
		margin: 30px 0
	.panel__head
		font-size: 28px
	.panel_left, .panel_right
		padding-top: 5px
		padding-bottom: 5px
	.accent-header
		font-size: 50px
	.scroll-menu
		max-width: 80%
		min-width: 120px
	.s-front-contact
		padding-bottom: 0
	.panel_left, .panel_right
		margin: 0
	.owl-nav>div
		top: 40%
	.owl-dots
		bottom: 10px
	.owl-prev
		left: 10px
	.owl-next
		right: 10px
	.hover-lines_content
		padding: 10px 3px
	.image-list__item
		margin-bottom: 15px
	.front-h1
		font-size: 34px
	.front-p
		font-size: 18px
		text-align: left
	.addToCart-button
		width: 135px
		line-height: 1.2
		font-weight: 400
		padding: 5px 0
	.product-count
		margin-top: 8px
	.smeta__head
		display: block
		width: 100%
		margin: 30px 0 0
	.smeta-price_mobile
		float: none
		display: inline-block
		margin: 20px 0 0
	.smeta
		margin-bottom: 0
	.col-tab-slider,
	.manager_subhead
		display: none
	.manager-text
		font-size: 13px
	.order_panel--header
		padding: 5px 10px
		font-size: 20px
	.order-text
		font-size: 15px
		margin-right: 10px
	.order-text_price
		margin-right: 0
	.s-cart
		margin-bottom: 30px
	.cart--header
		padding: 8px 0
	.order_panel--row
		margin-bottom: 30px
	.cabinet--button
		font-size: 17px
		padding: 7px 0
	.col-xxs-12
		width: 100%
		padding-left: 10px
		padding-right: 10px
	h1
		font-size: 36px
	.filter--label
		display: none
	.filter--tabs:not(.filter--tabs-simple)
		.tabs
			margin-right: 0
			right: 0
			width: 100%
			padding-left: 0
		.tab
			margin: 0 5px
			font-size: 16px
			&.active
				padding-left: 5px
				padding-right: 5px
	.input_price
		&:nth-child(2)
			float: right
			margin-top: 3px
	.multiply_range--outer
		margin-left: 0
		width: 100%
	.filter--checkbox
		float: left
		// min-width: calc(25% - 4px)
		min-width: 0
		margin-right: 16px
		&:nth-child(2n)
			// margin-right: 0
			// min-width: 50%
	.filter--checkbox-list_full
		.filter--checkbox input[type=checkbox].styled-checkbox+label::before
			margin-right: 2px
		.filter--checkbox
			min-width: calc(50% - 4px)
			margin-right: 4px
			&:nth-child(2n)
				min-width: 50%
				margin-right: 0
	.filter--checkbox-list
		@include clearfix
	.cabinet--button
		max-width: 100%
	.favourite_list--img
		display: none
	.favourite_list--name
		color: $c-default
		text-decoration: underline
		width: calc(100% - 130px)
	.white-popup--favourite_effects
		padding: 10px
	.popup--header
		font-size: 20px
	.favourite_list--close
		margin-top: 0
	.white-popup--smeta
		padding: 5px 10px
	.popup--table-head th
		display: none
	.popup--table
		border-spacing: 0 5px
		td
			padding: 20px 0 0 0
		td:nth-child(1),
		th:nth-child(1),
		td:nth-child(7),
		th:nth-child(5)
			display: none
		td:nth-child(4)
			width: 20%
		td:nth-child(5),
		th:nth-child(5)
			width: 70%
			text-align: center
		td:nth-child(6)
			width: 10%
		td:nth-child(2)
			width: 40%
		td:nth-child(3)
			position: absolute
			width: 100%
			left: 10px
			margin-top: -15px
			font-weight: bold
		tr
			position: relative
		.popup--table-footer
			td
				padding: 0
			th
				width: 5%
			td:nth-child(7),
			th:nth-child(7)
				display: table-cell
				position: absolute
				right: 13%
				width: 100px
	.white-smeta_panel
		.smeta-panel__label-after
			display: block
			margin: -20px 0 10px 0
		.smeta-panel__checkbox label
			vertical-align: top
			display: inline-block
			width: 80%
			line-height: 1.2
		.label_area
			margin-top: -15px
		.btn_smeta
			background: #9A8479
	.page-parallax_relative:not(.page-parallax_interior)
		display: block
		&:after, img
			display: none
		.page-parallax--container
			position: static
			margin-top: 0
		.page-parallax--text
			display: none
	.service-page .topline
		position: static
		background: #2F4259
	.page-parallax--head:not(.page-parallax--head-small)
		color: #404041
		margin: 20px 0
	.double--item
		width: 100%
	.double--item_desctiption
		position: static
	.double--desctiption,
	.double--item-right .double--desctiption
		margin: 20px auto 30px
	.hidden_info
		margin: 0 0 30px
	.btn_popup_smeta--mobile_wrapper
		text-align: center
		margin-bottom: 30px
	.style-list h2
		font-size: 24px
	.catalog_filter 
		.tabs
			@include clearfix
		.tab
			margin-left: 0
			&.active
				margin-left: 0
	.catalog_filter--item
		float: left
		clear: both
	.filter_by_name
		margin-left: 0
	.catalog
		margin-top: 20px
		margin-bottom: 20px
	.catalog--name
		font-size: 20px
	.catalog--tag
		margin-top: 0
	.catalog--hidden
		width: calc(100% - 20px)
		left: 10px
	.super_head--main
		margin-top: 0
		font-size: 31px
	.super_head--subhead 
		&:before,
		&:after
			width: calc(50% - 135px)
		span
			font-size: 14px
	.filter-with_margin
		margin: 10px 0
	// .filter--tabs-simple
	// 	.tabs
	// 		max-width: 350px
	.page-parallax--head-small
		font-size: 30px
		margin-top: 30px
	.page-parallax--text-small
		font-size: 18px	
	.top-camera
		display: none
	.topline_interior
		background: none !important
		position: absolute !important
	.interior_name
		margin: 0
		font-size: 18px
	.dark-logo
		width: 120px
		background-repeat: no-repeat
	.filter--tabs-simple
		margin: 0 -10px
		text-align: center
		.tab_compact
			margin-top: 0
			margin-bottom: 10px
			&.active
				margin-top: 0
				margin-bottom: 10px
		.tabs
			display: inline-block
			margin: 0
			width: 310px
			font-size: 15px
	.unreal_select-simple
		margin-left: 20px
		margin-right: 20px
		margin-top: 0
		margin-bottom: 0
	.hover-lines__text-top
		font-size: 10px
	.hover-lines__text-bottom
		font-size: 14px
	.img-bordered
		margin-right: 40px
	.next-link
		margin-right: -50px
	#map_big
		height: 300px
	.map_panels
		position: static
	.panel-diller_include
		width: 100%
		border: none
		max-width: none
		margin: 0
	#map_full
		display: none
	.visualiser--extra
		width: 100px
	.add_to_bookmark-mobile
		display: inline-block !important
		float: right
		margin-top: -5px
	.visualizer--top
		padding: 10px 0 5px
	.icon--clavel
		display: none
	.visualiser--head
		width: auto
		margin-top: 15px
	.visualiser--menu_button
		display: none
	.visualiser--slider
		width: calc(100% - 192px)
		height: 70px
	.visualiser--menu
		height: 50px
	.visualiser--button
		margin-bottom: 0
		padding: 8px 0
		margin-top: 10px
	.visualiser--footer
		padding-bottom: 3px
	.add_to_bookmark
		display: none
	.owl-visualiser
		.owl-item
			font-size: 0
			line-height: 0
			margin-right: 0 !important
	.owl-visualiser--thumbnail
		display: inline-block
		margin: 10px 1px
		vertical-align: top
		padding: 2px
	.visualiser--one_function-mobile
		display: block
		width: 32px
		margin-right: 10px
		height: 50px
	.owl-carousel.owl-visualiser .owl-nav 
		.owl-prev
			margin-top: -18px
			left: -30px
		.owl-next
			margin-top: -18px
			right: -30px
			left: auto
	.visualiser--slider
		margin: 0 32px
	.visualiser--extra
		margin-left: 10px
		width: 44px
	.visualiser--button
		font-size: 12px
		font-weight: 300
		margin-top: 18px
	.visualiser--functions
		display: none
	.visualiser--free_area
		height: 100%
	.scroll--head-mobile
		font-size: 16px
	.scroll--item-small
		max-width: none
		padding: 0 10px
	.scroll--head
		margin-top: 5px
		font-size: 14px
	.article-full_map
		padding-right: 60px
	#map_big
		margin-right: 45px
	.gallery--item-high
		img
			height: calc(100% + 2px)
	.visualizer--container
		padding-bottom: 67px
	.visualiser--xs_logos
		display: block
	.owl-carousel.owl-visualiser
		margin-top: 2px
	.logo__svg
		width: 110px
	.panel-diller 
		.input-button__submit
			position: absolute
		.input-button__input
			width: 100%
		.input-button
			padding-right: 48px
	.header_visualiser
		display: none
	.visualiser_logo-menu
		display: block
		position: absolute
		left: 15px
		// top: 10px
	.owl-visualiser--thumbnail.clicked
		padding: 0
	.visualiser--extra
		margin-top: 0
	.visualiser--add
		margin-right: 5px
	.where_buy--title
		position: static
		margin-top: 10px
		width: 100%
	.breadcrump_11c
		display: none
	.panel_right,
	.panel_left
		margin: 20px 0
		width: 100%
		float: none
		padding-left: 0
		padding-right: 0
		font-size: 28px
	.front-page 
		.topline
			background: $bg-accent
			position: static
	.mobile-smeta-icons
		display: flex
		margin-top: 8px
		& > *
			display: inline-block
			width: 33px
			height: 35px
			max-width: 100%
	.mobile-message,
	.smeta-icons,
	.img-top-panel,
	.smeta__prices
		display: none
	.smeta__head
		display: inline-block
		margin-bottom: 0
		vertical-align: middle
		width: calc(100% - 150px)
	.smeta-price_mobile
		float: right
		display: inline-block
	.smeta
		line-height: 50px
		margin: 20px 0
	.article_smeta
		margin-bottom: 0
	.smeta-icons__sm
		display: none !important
	.smeta__head_sm
		display: none !important
	.article_smeta
		font-family: $f-default
		font-size: 15px
		font-weight: 500
		margin-top: 10px
	.smeta__head,
	.smeta-price_mobile
		margin-top: 0
	.smeta__head
		font-size: 12px
		display: block
		width: 60%
		vertical-align: top
		display: inline-block
		float: left
	.smeta--articul
		font-size: 9px
		display: block
		line-height: 1.2
		width: 60%
		vertical-align: top
		display: inline-block
		float: left
	.smeta
		position: relative
		margin: 10px 0
		@include clearfix
	.smeta-price_mobile
		position: absolute
		top: -17px
		right: 0
	.effect-page__text
		font-size: 14px
	.tab-head
		font-size: 14px
		font-weight: 500
	.tab-article
		font-size: 11px
	h3
		font-size: 14px
		font-weight: 500
	.p_big
		font-size: 14px
	.instruction p
		font-size: 14px
	.comment
		font-size: 14px
	.place_panel--number
		left: 0
	.place_panel--info
		padding-left: 40px
	.place_row
		margin-right: 45px
	.place_panel--info
		margin-right: 40px
	.place_panel--address
		display: none
	.place_panel--head
		font-weight: 300
	.place_row
		margin-right: 0
	.place_panel--info-second
		margin-right: 0
		padding-left: 0
	.owl-header-front--text
		font-size: 25px
		max-width: 240px
	.owl-header-front--inner
		margin-top: 20px
	.front-h1
		font-size: 30px
	.effect-list__info
		position: relative
	.effect-price
		position: absolute
		right: 0
	.effect-list__head
		width: 100%
		padding-right: 130px
		max-width: 100%

@media only screen and (max-width : 450px)
	.topline-scroll__contact a
		display: none
	.label-product-type
		margin-right: 0

@media only screen and (max-width : 380px)
	.s-front-contact h2
		max-width: 220px
		margin-left: auto
		margin-right: auto
		margin-top: 10px
	.catalog_filter .tab
		font-size: 15px
		margin: 5px 0 !important
	h1
		font-size: 32px



@media only screen and (max-width : 360px)
	.hover-lines__text-bottom
		font-size: 9px


/*==========  Mobile First  ==========*/

@media only screen and (min-width : 481px)
	.visualiser_logo-menu
		display: none	

/* Medium Devices, Desktops */
@media only screen and (min-width : 1361px)
	/**/
	.col-tab-slider
		padding-right: 75px
	.col-tab-slider_right
		padding-right: 15px
		padding-left: 75px
	.link_white:hover
		color: #fff
	.hover-lines
		&:hover 
			color: #fff
			img
				transform: scale(1.1)
			.hover-lines_content
				transform: scale(1)
			&:after
				opacity: 0.7
			.hover-lines__line
				&:nth-of-type(1),
				&:nth-of-type(2)
					height: 80%
				&:nth-of-type(3),
				&:nth-of-type(4)
					width: 80%
	.s-parallax
		overflow: hidden
		position: relative
	.parallax-img
		position: absolute
		width: 100%
		height: 492px
		min-height: 100%
		z-index: -1
		background-size: cover
		position: absolute
		left: 0
		background-position: center center
	.parallax-img__uslugi 
		top: -550px
		background-image: url(../img/uslugi_1360.jpg)
	.parallax-img__sotrudn
		background-image: url(../img/sotrudn_1360.jpg)
		top: -915px
	.panel_right, .panel_left
		position: relative
		top: -340px	
	.panel_left
		top: -510px	 
	.footer-button
		&:hover
			background: #80A0B7
			color: #2F4259
			text-decoration: none
			svg
				fill: #3f5677
				width: 13px
	.img-effect-zoomin_hover-panel
		&:hover
			.hover-panel
				bottom: 0
	.img-effect-zoomin
		overflow: hidden
		> .img-effect__link img,
		> img
			transition: 0.5s
			width: 100%
			height: auto
		&:hover .img-effect__link > img,
		&:hover > img
			transform: scale(1.1)
	.my-col-7-5
		width: 65.5%
		right: 34.5%
	.my-col-4-5
		width: 34.5%
		left: 65.5%
	.addToCart-button
		&:hover
			background: #777
			color: #fff
			text-decoration: none
			img
				width: 12px
				margin-right: 6px
	.btn_smeta,
	a.owl-header-front--button
		&:hover
			background: #777
			color: #fff
			text-decoration: none
			img
				width: 12px
				margin-right: 6px
	.mega_plus
		&-left
			position: absolute
			right: -14px
			top: -25px
	.owl-visualiser--thumbnail:not(.clicked)
		&:hover
			padding: 0
			z-index: 2
			img
				box-shadow: 0 0 0 5px #7B766A
				position: relative
				z-index: 2
			.owl-visualiser--hidden
				display: block
	.owl-visualiser.owl-carousel .owl-stage-outer
		padding: 5px
	.owl-carousel.owl-visualiser 
		margin-top: -4px
	.visualiser--head
		margin-top: 27px
	.visualiser--menu_button
		&:hover
			background-position: -897px -124px
	.visualiser--one_function-other
		&:hover
			i
				background-position: -30px -144px
	.visualiser--one_function-other_interior
		&:hover
			i
				background-position: -139px -144px
	.visualiser--one_function-smeta
		&:hover
			text-decoration: none
			i
				background-position: -250px -144px
	.visualiser--one_function-description
		&:hover
			i
				background-position: -362px -144px
	.visualiser--one_function-technic
		&:hover
			i
				background-position: -472px -144px
	.visualiser--one_function-gallery
		&:hover
			i
				background-position: -587px -144px
	.visualiser--one_function-cart
		&:hover
			i
				background-position: -698px -144px
	.visualiser--one_function-favourite
		&:hover
			i
				background-position: -808px -144px
			.icon_visualiser--add
				box-shadow: 0 0 10px #3EADE3
				background: #fff
	.smeta-icon
		margin-right: 10px
	.smeta-icons i
		margin-right: 0

	
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1450px)
	.parallax-img
		height: 1151px
	.parallax-img__uslugi
		background-image: url(../img/uslugi_1920.jpg)
		top: -1265px
	.parallax-img__sotrudn
		background-image: url(../img/sotrudn_1920.jpg)
		top: -1900px
	header
		overflow: hidden
	.panel_right, .panel_left
		position: relative
		top: -330px	
	.panel_left
		top: -480px	 

@media only screen and (min-width : 1600px)
	.menu-link
		margin: 0 8px